.resume {
  font-family: "Ebrima";
  font-size: 14px;
  color: #373d48;
}
.resume ul {
  padding-left: 20px;
}

.max-width {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 40px;
}

.header {
  background: #373d48;
  color: white;
}
.header a {
  color: white;
}

.bold {
  font-weight: bold;
}

.cnt-person {
  display: inline-table;
}

.cnt-photo, .cnt-name {
  display: table-cell;
  vertical-align: middle;
}

.cnt-name {
  padding-left: 30px;
}

.person-name {
  font-weight: bold;
  font-size: 35px;
}

.person-position {
  font-size: 25px;
}

.person-photo {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50px;
  background: white;
  overflow: hidden;
}
.person-photo img {
  height: 100%;
  width: 100%;
  margin-top: -4px;
}

.main-section {
  position: relative;
}

.section {
  margin-top: 20px;
}

.cnt-flex {
  display: table;
  margin-top: 12px;
}

.flex-expand {
  flex: 1;
}

.period-col {
  width: 65px;
  text-align: left;
  display: table-cell;
}

.circle-area {
  text-align: center;
  width: 34px;
  margin-right: 17px;
}

.circle {
  display: inline-block;
  color: white;
  font-size: 6px;
  background: #373d48;
  width: 10px;
  height: 10px;
  line-height: 10px;
  border-radius: 5px;
}
.circle.middle {
  font-size: 16px;
  width: 34px;
  height: 34px;
  line-height: 34px;
  border-radius: 17px;
}

.sub-title, .title {
  font-size: 16px;
  font-weight: bold;
  color: #373d48;
}

.title {
  font-size: 16px;
}

.vert-line {
  width: 2px;
  background: #ddd;
  position: absolute;
  top: 20px;
  bottom: 0;
  margin-left: 16px;
  left: 65px;
  z-index: -1;
}

.skill {
  margin-bottom: 10px;
}

.grade {
  position: relative;
  display: block;
  height: 10px;
}

.mark, .mark-rest {
  position: absolute;
  top: 0;
  bottom: 0;
}

.mark {
  background: #373d48;
  left: 0;
}

.mark-rest {
  background: #ddd;
  right: 0;
}

/*********************************************************************************************/
@font-face {
  font-family: 'Ebrima';
  src: url("fonts/ebrima.ttf?w0j4pj");
}
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?w0j4pj");
  src: url("fonts/icomoon.eot?w0j4pj#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?w0j4pj") format("truetype"), url("fonts/icomoon.woff?w0j4pj") format("woff"), url("fonts/icomoon.svg?w0j4pj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-briefcase:before {
  content: "\e901";
}

.icon-book:before {
  content: "\e91f";
}

.icon-library:before {
  content: "\e921";
}

.icon-user-tie:before {
  content: "\e976";
}

.icon-spinner10:before {
  content: "\e983";
}

.icon-tree:before {
  content: "\e9bc";
}

.icon-flag:before {
  content: "\e9cc";
}

.icon-facebook2:before {
  content: "\ea91";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-github:before {
  content: "\eab0";
}

.icon-linkedin:before {
  content: "\eac9";
}

.icon-linkedin2:before {
  content: "\eaca";
}

.icon-html-five:before {
  content: "\eae4";
}

.icon-html-five2:before {
  content: "\eae5";
}
